{% doc %}
  Renders a product card for the Foxsell Mix Match.
  @param {product} product - The product to be rendered
  @param {string} category_title - The category title of the product to be rendered
  @param {object} allowed_variants - The allowed variants for the product

  @param {boolean} [show_price] - Whether to show the price of the product
  @param {string} [view] - The view to render, either 'card' or 'modal'
  @param {string} [type] - The type of options to render, either 'radio' or 'select'
  @param {section} [section] - The section to allow locale overrides

  @example
  {% render 'foxsell-step-product-card', view: 'card', product: product %}
{% enddoc %}

{% liquid
  assign show_price = show_price | default: true
  unless category_title == '__add_ons__'
    assign category_title = category_title | sha1
  endunless
%}

{% comment %}
  I did not want to create a snippet just to render an icon, 
  so I'm using a capture block to render the icon.
{% endcomment %}

{% capture icon_minus %}
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M5 12h14"/>
  </svg>
{% endcapture %}

{% capture icon_plus %}
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M5 12h14"/>
    <path d="M12 5v14"/>
  </svg>
{% endcapture %}


{% case view %}
  {% when 'modal' %}
    <foxsell-product-card
      class="foxsell-product-card--modal"
      data-product-id="{{ product.id }}"
      data-category="{{ category_title }}"
    >
      <div class="foxsell-product-card__image-wrapper">
        {% if product.images.size > 1 %}
          <foxsell-product-gallery class="foxsell-product-gallery">
            <div class="foxsell-product-gallery__images">
              {% for image in product.images %}
                {{ image | image_url: width: 400 | image_tag: class: 'foxsell-product-gallery__image', loading: 'lazy' }}
              {% endfor %}
            </div>
          </foxsell-product-gallery>
        {% else %}
          {{ product.featured_image | image_url: width: 400 | image_tag: class: 'foxsell-product-gallery__image', loading: 'lazy' }}
        {% endif %}
      </div>
      <div class="foxsell-product-card__info">
        <div class="foxsell-product-card__title">{{ product.title }}</div>
        {%- if show_price -%}
          <div class="js foxsell-product-card__price">{{ product.first_available_variant.price | money }}</div>
        {%- endif -%}
        <div>
          {{ product.description }}
        </div>
        <div>
          {% render 'foxsell-step-product-options', product: product, allowed_variants: allowed_variants, type: type %}
        </div>
        <div>
          <div class="foxsell-product-card__quantity-selector">
            <button class="js remove-from-bundle" aria-label="Remove from bundle">
              <span>{{ icon_minus }}</span>
            </button>
            <span class="quantity">0</span>
            <button class="js add-to-bundle" aria-label="Add to bundle">
              <span>{{ icon_plus }}</span>
            </button>
          </div>
          <button class="js add-to-bundle foxsell-button foxsell-button--full foxsell-button--outline foxsell-add-to-bundle" aria-label="Add to bundle">
            <span>{% render 'foxsell-step-locale', t: 'button.add', section: section %}</span>
          </button>
        </div>
      </div>
    </foxsell-product-card>
  {% else %}
    <foxsell-product-card 
      class="foxsell-product-card" 
      data-product-id="{{ product.id }}"
      data-category="{{ category_title }}"
    >
      <div class="foxsell-product-card__image-wrapper" data-open-modal>
        {{ product.featured_image | image_url: width: 400 | image_tag: class: 'js foxsell-product-card__image' }}
      </div>
      <div class="foxsell-product-card__info">
        <div class="foxsell-product-card__title-and-price">
          <div class="foxsell-product-card__title">{{ product.title }}</div>
          {%- if show_price -%}
            <div class="js foxsell-product-card__price">{{ product.first_available_variant.price | money }}</div>
          {%- endif -%}
        </div>
        <div>
          {% render 'foxsell-step-product-options', product: product, allowed_variants: allowed_variants, type: type %}
        </div>
        <div class="foxsell-product-card__quantity-selector-wrapper">
          <div class="foxsell-product-card__quantity-selector">
            <button class="js remove-from-bundle" aria-label="Remove from bundle">
              <span>{{ icon_minus }}</span>
            </button>
            <span class="quantity">0</span>
            <button class="js add-to-bundle" aria-label="Add to bundle">
              <span>{{ icon_plus }}</span>
            </button>
          </div>
          <button class="js add-to-bundle foxsell-button foxsell-button--full foxsell-button--outline foxsell-add-to-bundle" aria-label="Add to bundle">
            <span>{% render 'foxsell-step-locale', t: 'button.add', section: section %}</span>
          </button>
        </div>
      </div>
    </foxsell-product-card>
{% endcase %}
