{% doc %}
  Renders the Foxsell Mix Match component.
  @param {product} product - The product to be rendered
  @param {section} section - The section to be rendered
  
  @example
  {% render 'foxsell-shade-mix-match', product: product, section: section %}
{% enddoc %}

{% liquid
  assign app_namespace = 'app--67872686081'

  assign dynamic_add_ons_bundle_config = product.metafields[app_namespace].dynamic_add_ons_bundle.value
  assign bundle_id = dynamic_add_ons_bundle_config.bundle_id
  assign options = dynamic_add_ons_bundle_config.options_v2.value
  assign products = dynamic_add_ons_bundle_config.products.value
  assign add_on_products = dynamic_add_ons_bundle_config.add_on_products.value
  assign add_on_product_properties = dynamic_add_ons_bundle_config.add_on_product_properties.value
  assign categories = dynamic_add_ons_bundle_config.categories.value
  assign settings = dynamic_add_ons_bundle_config.settings.value
  assign tired_discount_config = product.metafields.custom.foxsell_tiered_discount.value
%}

{% render 'foxsell-shade-css-variables', section: section %}

{% # theme-check-disable %}
<link rel="stylesheet" href="{{ 'foxsell-shade.css' | asset_url }}">
{% # theme-check-enable %}
 
<foxsell-mix-match class="foxsell-mix-match" data-bundle-id="{{ bundle_id }}">
  <div class="foxsell-category__list">
    {% for category in categories %}
      <div class="foxsell-category__item active">
        {% if section.settings.show_category_title %}
          <div class="foxsell-category__header">
            {{ category.title }}
          </div>
        {% endif %}
        <div class="foxsell-category__product-grid">
          {% for p in category.products %}
            {% liquid
              assign int_product_id = p.id | times: 1
              assign product_ref = null
              paginate products by 128
                for ref in products
                  if ref.id == int_product_id
                    assign product_ref = ref
                    break
                  endif
                endfor
              endpaginate
            %}
            {% render 'foxsell-shade-product-card',
              category_title: category.title,
              product: product_ref,
              allowed_variants: p.variants,
              type: "radio",
              section: section
            %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    {% if add_on_products != blank %}
      <div class="foxsell-category__item" data-category="__add_ons__">
        {% if section.settings.show_category_title %}
          <div class="foxsell-category__header">
            {% render 'foxsell-shade-locale', t: 'label.add_ons', section: section %}
          </div>
        {% endif %}
        <div class="foxsell-category__product-grid">
          {% for add_on in add_on_products %}
            {% liquid
              assign allowed_variants = null
              for add_on_property in add_on_product_properties
                if add_on_property[0] contains add_on.id
                  assign allowed_variants = add_on_property[1].variants
                  break
                endif
              endfor
            %}
            {% render 'foxsell-shade-product-card',
              category_title: '__add_ons__',
              product: add_on,
              allowed_variants: allowed_variants,
              type: "radio",
              section: section
            %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  
  <div class="foxsell-mix-match__summary-wrapper">
    <div class="foxsell-mix-match__summary">
      <div class="foxsell-mix-match__summary-form">
        {% form 'product', product %}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <input type="hidden" name="quantity" value="1">
          <input type="hidden" name="properties[__foxsell:dynamic_add_on_bundle_id]" value="{{ bundle_id }}">
          <input type="hidden" name="properties[__foxsell:dynamic_add_on_bundle_items]" value="">
          <input type="hidden" name="properties[__foxsell:dynamic_add_on_bundle_savings]" value="">
          <button type="submit" class="foxsell-button foxsell-button--full foxsell-add-to-cart-button" disabled>{% render 'foxsell-shade-locale', t: 'button.add_to_cart', section: section %}</button>
        {% endform %}
      </div>
    </div>
  </div>

  {% render 'foxsell-shade-product-modal', section: section %}

  <script id="foxsell-config" type="application/json">
    {
      "productHandle": {{ product.handle | json }},
      "productId": {{ product.id | json }},
      "bundleId": {{ bundle_id | json }},
      "options": {{ options | json }},
      "addOnProducts": {{ add_on_products | json }},
      "addOnProductProperties": {{ add_on_product_properties | json }},
      "categories": [
        {%- for category in categories -%}
          {"id": {{ category.title | sha1 | json }},"title": {{ category.title | json }},"quantity": {{ category.quantity | json }}, "items": {{ category.products | json }}}
        {%- if forloop.last == false -%},{%- endif -%}
      {%- endfor -%}],
      "settings": {{ settings | json | replace: 'add_on', 'addOn' }},
      "tiredDiscountConfig": {{ tired_discount_config | json }}
    }
  </script>
</foxsell-mix-match>

<script>
  window.foxsell = window.foxsell || {}
  window.foxsell.formatMoney = (cents, format = "{{ shop.money_format }}") => {
    if (typeof cents === 'string') {
      cents = cents.replace('.', '');
    }
    const currencyRate = window.Shopify?.currency?.rate ?? 1;
    cents *= currencyRate;
    const placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
    const formatWithDelimiters = (number, precision = 2, thousands = ',', decimal = '.') => {
      if (isNaN(number) || number == null) {
        return 0;
      }
      number = (number / 100).toFixed(precision);
      const [dollars, cents] = number.split('.');
      const dollarsAmount = dollars.replace(/(\d)(?=(\d{3})+(?!\d))/g, `$1${thousands}`);
      const centsAmount = cents ? `${decimal}${cents}` : '';
      return dollarsAmount + centsAmount;
    };
    let value = '';
    const formatKey = format.match(placeholderRegex)?.[1];
    switch (formatKey) {
      case 'amount':
        value = formatWithDelimiters(cents, 2);
        break;
      case 'amount_no_decimals':
        value = formatWithDelimiters(cents, 0);
        break;
      case 'amount_with_space_separator':
        value = formatWithDelimiters(cents, 2, ' ', '.');
        break;
      case 'amount_with_comma_separator':
        value = formatWithDelimiters(cents, 2, '.', ',');
        break;
      case 'amount_with_apostrophe_separator':
        value = formatWithDelimiters(cents, 2, "'", '.');
        break;
      case 'amount_no_decimals_with_comma_separator':
        value = formatWithDelimiters(cents, 0, '.', ',');
        break;
      case 'amount_no_decimals_with_space_separator':
        value = formatWithDelimiters(cents, 0, ' ');
        break;
      case 'amount_no_decimals_with_apostrophe_separator':
        value = formatWithDelimiters(cents, 0, "'");
        break;
    }
    return format.replace(placeholderRegex, value);
  }
</script>

{% # theme-check-disable %}
<script src="{{ 'foxsell-shade.js' | asset_url }}" defer></script>
{% # theme-check-enable %}