{% doc %}
  Renders a product card for the Foxsell Mix Match.
  @param {product} product - The product to be rendered
  @param {string} category_title - The category title of the product to be rendered
  @param {object} allowed_variants - The allowed variants for the product

  @param {boolean} [show_price] - Whether to show the price of the product

  @example
  {% render 'foxsell-product-card', product: product %}
{% enddoc %}

{% liquid
  assign show_price = show_price | default: true
%}

<foxsell-product-card data-product-id="{{ product.id }}" data-category-title="{{ category_title }}">
  <div class="foxsell-product-card__image-wrapper">
    {{ product.featured_image | image_url: width: 100 | image_tag: class: 'foxsell-product-card__image' }}
  </div>
  <div>
    <div>
      <div>{{ product.title }}</div>
      {% if show_price %}
        <div class="foxsell-product-card__price">{{ product.price | money_without_trailing_zeros }}</div>
      {% endif %}
    </div>
    {% render 'foxsell-product-options', product: product, allowed_variants: allowed_variants %}
    <div>
      <button class="js remove-from-set"><span>Remove</span></button>
      <span class="quantity">0</span>
      <button class="js add-to-set"><span>Add</span></button>
    </div>
  </div>
</foxsell-product-card>
