{% doc %}
  Renders the Foxsell Bundle Summary component.
  @param {section} section - The section that contains the settings for the bundle summary
{% enddoc %}

{% liquid
  assign title = section.settings.summary_title
  assign empty_state_text = section.settings.summary_empty_state_text | default: 'No items in the bundle yet'
  assign progress_state_text = section.settings.summary_progress_state_text | default: 'You have selected %s of %s items'
  assign end_state_text = section.settings.summary_end_state_text | default: 'Bundle complete'
%}

<foxsell-bundle-summary class="foxsell-bundle-summary">
  <div class="foxsell-bundle-summary__header">
    <div>{{ title }}</div>
    <label class="foxsell-bundle-summary__toggle">
      <input type="checkbox" name="foxsell-bundle-summary-toggle" id="foxsell-bundle-summary-toggle" aria-label="Toggle bundle summary visibility"> 
      <span class="foxsell--show">Show</span>
      <span class="foxsell--hide">Hide</span>
    </label>
  </div>
  <foxsell-bundle-progress class="foxsell-bundle-progress">
    <div class="foxsell-bundle-progress__label">{{ empty_state_text }}</div>
    <div class="foxsell-bundle-progress__bars">
      {% comment %} Dynamically rendered by updateBundleProgress {% endcomment %}
    </div>
    <script id="foxsell-bundle-progress-config" type="application/json">
      {
        "emptyStateText": "{{ empty_state_text }}",
        "progressStateText": "{{ progress_state_text }}",
        "endStateText": "{{ end_state_text }}"
      }
    </script>
  </foxsell-bundle-progress>
  <div class="foxsell-bundle-summary__items-list">
    <p>No items in bundle. Add items to your bundle to see the summary here.</p>
  </div>
</foxsell-bundle-summary>